In [29]:
import pandas as pd

# Load the dataset
df= pd.read_csv("C:/Users/HP/Documents/DATA SCIENCE/Data analyst internship/medical_appointment_no_shows.csv")

# Rename columns
df.columns = [col.strip().lower().replace(" ", "_").replace("-", "_") for col in df.columns]
df.rename(columns={'hipertension': 'hypertension','handcap': 'handicap','no_show': 'no_show'}, inplace=True)
df.drop(columns=df.columns[14:], inplace=True)   ## bcz empty columns are there

df.columns

Index(['patient_id', 'appointment_id', 'gender', 'scheduled_day',
       'appointment_day', 'age', 'neighbourhood', 'scholarship',
       'hypertension', 'diabetes', 'alcoholism', 'handicap', 'sms_received',
       'no_show'],
      dtype='object')

In [42]:
# Standardize text data
#df['gender']= df['gender'].str.upper().str.strip()
#df['no_show']= df['no_show'].str.upper().str.strip()
df['neighbourhood']= df['neighbourhood'].str.title()

In [31]:
# Convert date columns
df['appointment_day']= pd.to_datetime(df['appointment_day']).dt.date
df['scheduled_day']= pd.to_datetime(df['scheduled_day']).dt.date

0         2016-04-29
1         2016-04-29
2         2016-04-29
3         2016-04-29
4         2016-04-29
             ...
110522    2016-05-03
110523    2016-05-03
110524    2016-04-27
110525    2016-04-27
110526    2016-04-27
Name: scheduled_day, Length: 110527, dtype: object

In [32]:
## Handle missing values
count= df.isnull().sum()
print(count)

patient_id         0
appointment_id     0
gender             0
scheduled_day      0
appointment_day    0
age                0
neighbourhood      0
scholarship        0
hypertension       0
diabetes           0
alcoholism         0
handicap           0
sms_received       0
no_show            0
dtype: int64

In [33]:
# Drop duplicates
df.drop_duplicates(inplace=True)

In [40]:
import numpy as np

# check for outliers
df['age']=df['age'].apply(lambda x: np.nan if x<=0 else x)
print(df[df['age']<=0])

Empty DataFrame
Columns: [patient_id, appointment_id, gender, scheduled_day, appointment_day, age, neighbourhood, scholarship, hypertension, diabetes, alcoholism, handicap, sms_received, no_show]
Index: []

In [43]:
# Save cleaned data
df.to_csv('cleaned_medical_data.csv', index=False)